/* Basics */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-decoration: none;
    list-style:none;
}

html, body{
    overflow-y:hidden;
    overflow-x:hidden;
}

h1, h2{
    color:rgb(58, 57, 57);
}

/* Navbar */
.nav{
    background-color:white;
    padding: 10px 20px;
}
.nav__menu{
    align-items:center;
}

.nav__logo, img{
    float:left;
    width:80px;
    height:50px;
}
.nav__options, li a{

    color:rgb(58, 57, 57);

    margin: 15px;

    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.nav__options, li a:hover{
    color:gray;
}



/* Section card */
.card{
    position:relative;
    height:85vh;

    display:flex;
    flex-wrap: wrap;
}


/* text content */
.card__text{
    margin: 80px 50px;
    width:440px;
    height:100%;
}
.card__text h1, h2{
    font-size:50px;
}
.card__text p{
    margin: 30px 2px;
}
.card__text span{
    color:#017143;
}



/* button content */
.card__button button{
    color:white;
    background-color: #017143;

    border:none;
    border-radius: 40px;

    width:120px;
    height:40px;
}
.card__button button:hover{
    background-color: #017142ca;
}



/* right div background */
.card__background{
    
    position:absolute;

    background-color: #017143;
    border-radius: 50%;

    width:700px;
    height:650px;
    right:-300px;
    bottom:-220px;
}
.card__image img{
    position:absolute;

    bottom:290px;
    left: 5px;
    width:300px;
    height:400px;
}


/* thumbs above */
.card__thumbs{
    position:absolute;
    bottom:15px;
    right: 44%;
}
.card__thumbs ul{
    display:flex;
}
.card__thumbs ul li img{
    margin: 0 10px;
    width:40px;
    height:60px;
}

/* right social medias */
.card__social-media{
    position:absolute;
    right:6px;
    bottom:50%; 
}
.card__social-media img{
    cursor: pointer;
    width:15px;
    height:20px;
}
